<header id="header" class="w-full m-0 border-gray-300">
  <div id="header-container"
    class="max-w-7xl mx-auto p-6 flex items-center flex-wrap lg:flex-no-wrap relative justify-between">
    <a href="{{ .Site.Home.Permalink }}"
      class="tracking-tighter leading-10 text-3xl font-semibold text-gray-600 flex flex-shrink-0">
      {{ .Site.Title }}
    </a>

    <div class="block lg:hidden mx-2">
      {{ partial "nav-menu-buttons.html" . }}
    </div>

    <div
      class="absolute right-8 top-16 lg:relative lg:right-0 lg:top-0 flex flex-col lg:flex-row items-center rounded-md bg-white shadow lg:bg-transparent lg:shadow-none z-10">
      <nav id="nav-social-links"
        class="p-4 lg:p-0 text-gray-600 hidden lg:block lg:order-last w-full lg:w-auto lg:ml-3">
        {{ partial "nav-social-links.html" . }}
      </nav>

      <nav id="nav-menu" class="p-4 lg:p-0 hidden lg:block w-full lg:w-auto text-gray-600">
        {{ partial "nav-links.html" . }}
      </nav>
    </div>
  </div>
</header>
